[*]
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
ij_typescript_use_double_quotes = false
ij_javascript_use_double_quotes = false

# Tab indentation (no size specified)
[Makefile]
indent_style = tab
