name: Check version bump and changelog files

on:
  workflow_call:

jobs:
  check-version-bump:
    runs-on: ubuntu-latest
    name: Enforce changelog files update
    steps:
      - uses: actions/checkout@v6
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@7dee1b0c1557f278e5c7dc244927139d78c0e22a # v47.0.4
        with:
          files: packages/**/package.json
          separator: "\n"
      - name: Build matrix input
        id: build-matrix
        if: ${{ steps.changed-files.outputs.all_changed_files != '' }}
        env:
          ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        run: |
          set +e
          modules_list=()
          while IFS= read -r file; do
            [ -z "$file" ] && continue
            ./bin/check-version-bump.sh ./"$file"

            # check-version-bump exits with 0 if it detects a bump, otherwise with 1
            if [ $? != "1" ] && [[ ! " ${modules_list[*]} " =~ " ${file} " ]]; then
              version="$(jq -r '.version' "$file")"
              modules_list+=("{\"name\": \"${file%"/package.json"}\", \"version\": \"$version\"}")
            fi
          done <<< "$ALL_CHANGED_FILES"

          jsonString="$(jq --compact-output --null-input '$ARGS.positional' --args -- "${modules_list[@]}")"
          echo $jsonString
          echo "modules=$jsonString" >> $GITHUB_OUTPUT

      - name: Check changelog files
        if: ${{ steps.build-matrix.outputs.modules != '' }}
        env:
          MODULES: ${{ steps.build-matrix.outputs.modules }}
        run: |
          kotlinc -script .github/scripts/CheckChangelogs.main.kts "$MODULES"
