name: Check version bump and changelog files

on:
  workflow_call:
    
jobs:
  check-version-bump:
    runs-on: ubuntu-latest
    name: Enforce changelog files update
    steps:
      - uses: actions/checkout@v4
      - name: Get changed files
        id: changed-files 
        uses: tj-actions/changed-files@v45
        with:
          files: packages/**/package.json
      - name: Build matrix input
        id: build-matrix
        if: ${{ steps.changed-files.outputs.all_changed_files }} != '[]'
        run: |
          set +e
          modules_list=()
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            ./bin/check-version-bump.sh ./"$file"

            # check-version-bump exits with 0 if it detects a bump, otherwise with 1
            if [ $? != "1" ] && [[ ! " ${modules_list[*]} " =~ " ${file} " ]]; then
              version="$(cat $file | jq -r '.version')"
              modules_list+=("{\"name\": \"${file%"/package.json"}\", \"version\": \"$version\"}")
            fi
          done

          jsonString="$(jq --compact-output --null-input '$ARGS.positional' --args -- "${modules_list[@]}")"
          echo $jsonString
          echo "modules=$jsonString" >> $GITHUB_OUTPUT

      - name: Check changelog files
        if: ${{ steps.build-matrix.outputs.modules != '' }}
        run: |
          kotlinc -script .github/scripts/CheckChangelogs.main.kts ${{ steps.build-matrix.outputs.modules}}