name: Cypress Tests

on:
  push:
    branches: [ "main", "jeremy/gh-action-cypress" ]
#    paths:
#      - packages/player/**
#  pull_request:
#    branches: [ "main", "jeremy/gh-action-cypress"]
#    paths:
#      - packages/player/**

concurrency:
  group: cypress-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/build-projects
      - name: Prepare test user for player tests
        id: json
        run: |
          echo ${{ env.TEST_USER }} | base64 -d > test-user.json
          json=$(cat test-user.json)
          replacement=${{ secrets.PLAYER_REFRESH_TOKEN }}
          fixed_json="$(echo ${json/\[TOKEN\]/$replacement})"
          encoded_json=$(echo "$fixed_json" | base64 | tr -d '\n')
          echo "encoded=\"$encoded_json\"" >> $GITHUB_OUTPUT
        env:
          TEST_USER: ${{ steps.json.outputs.encoded }}
      - name: Cypress run
        uses: cypress-io/github-action@v6
        env:
          CYPRESS_TEST_USER: "I AM NOT UNDEFINED"
        with:
          install: false
          browser: chrome
          start: pnpm --dir packages/player/ dev
          wait-on: 'http://localhost:5173/demo/test-case-1.html'
          command: pnpm --dir packages/player/ internal:cypress:run
