name: FOSSA Scans

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - '**/package.json'
      - 'pnpm-lock.yaml'
      - 'pnpm-workspace.yaml'
  workflow_call:

jobs:
    fossa-scan:
        runs-on: ubuntu-latest
        steps:
          - name: "Checkout Code"
            uses: actions/checkout@v6

          - name: "Run FOSSA Scan"
            uses: fossas/fossa-action@c414b9ad82eaad041e47a7cf62a4f02411f427a0 # v1.8.0
            with:
              api-key: ${{secrets.FOSSAAPIKEY}}
              debug: true

          - name: "FOSSA Tests"
            id: fossa-tests
            uses: fossas/fossa-action@c414b9ad82eaad041e47a7cf62a4f02411f427a0 # v1.8.0
            with:
              api-key: ${{secrets.FOSSAAPIKEY}}
              run-tests: true
