name: FOSSA Scans

on:
  push:
  workflow_call:

jobs:
    fossa-scan:
        runs-on: ubuntu-latest
        steps:
          - name: "Checkout Code"
            uses: actions/checkout@v4

          - name: "Run FOSSA Scan"
            uses: fossas/fossa-action@v1.5.0
            with:
              api-key: ${{secrets.FOSSAAPIKEY}}
              debug: true

          - name: "FOSSA Tests"
            id: fossa-tests
            uses: fossas/fossa-action@v1.5.0
            with:
              api-key: ${{secrets.FOSSAAPIKEY}}
              run-tests: true
