name: Pull Request

on:
  pull_request:

jobs:
  fossa-scans:
    name: Run FOSSA Scans
    uses: ./.github/workflows/fossa-scan.yml
    secrets: inherit

  trigger-lint:
    name: Run Lint Checks
    uses: ./.github/workflows/lint.yml

  trigger-unit-test:
    name: Run Unit Tests
    permissions:
      pull-requests: write
      contents: read
    uses: ./.github/workflows/test.yml
    secrets: inherit
